@use "variables" as v;

body {
    font-family: v.$font-sans;
    color: v.$c-text-main;
    background-color: v.$c-white;
    overflow-x: hidden;
    /* For animations */
}

h1,
h2,
h3 {
    font-family: v.$font-serif;
    font-weight: 400;
}

/* Lenis recommended styles */
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}