@use "../../foundation/variables" as v;
@use "../../foundation/mixin" as m;

.c-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid v.$c-text-main;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    display: none;

    @include m.mq(md) {
        display: block;
    }

    &.is-hover {
        background: rgba(0, 0, 0, 0.1);
        transform: translate(-50%, -50%) scale(1.5);
        border-color: transparent;
    }
}