@use "../../foundation/variables" as v;
@use "../../foundation/mixin" as m;

.c-section-header {
    text-align: center;
    margin-bottom: 60px;

    &__title {
        font-family: v.$font-serif;
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 10px;

        @include m.mq(md) {
            font-size: 4rem;
        }
    }

    &__subtitle {
        font-family: v.$font-sans;
        font-size: 0.8rem;
        letter-spacing: 0.2em;
        color: v.$c-accent;
        text-transform: uppercase;
    }
}