@use "../foundation/variables" as v;

.l-footer {
    padding: 40px 0;
    text-align: center;
    font-size: 0.8rem;
    color: v.$c-text-sub;
    border-top: 1px solid #eee;

    p {
        letter-spacing: 0.05em;
    }
}