@use "../../foundation/variables" as v;
@use "../../foundation/mixin" as m;

.p-contact {
    background-color: #f5f5f5;
    text-align: center;

    .l-container {
        display: grid;
        gap: 60px;

        @include m.mq(md) {
            grid-template-columns: 1fr 1fr;
            gap: 100px;
        }
    }

    &__cta,
    &__donation {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    h2,
    h3 {
        font-family: v.$font-serif;
        font-size: 2rem;
        margin-bottom: 10px;
    }

    p {
        color: v.$c-text-sub;
        margin-bottom: 20px;
    }
}