.u-text-center {
    text-align: center;
}

.u-text-right {
    text-align: right;
}

.u-mb-10 {
    margin-bottom: 10px;
}

.u-mb-20 {
    margin-bottom: 20px;
}

.u-mb-40 {
    margin-bottom: 40px;
}